:root {
    --yellow: #fae100;
    --sponge-blue:#9cdaf3;
    --sponge-gray:#8d9aa0;
    --sponge-white:#ffffff;
    --sponge-green:#1BE200;
    --sponge-pink:#f5dffa;
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.2);
  }
  